<div *ngIf="dataLoaded==false" class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<table *ngIf="dataLoaded==true" class="table table-dark table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
  </table>